.App {
  text-align: center;
  background-color: #282c34;
}

#root {
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Menu {
  background-color: whitesmoke;
  padding: 16px;
}

table {
  width: 100%;
}

.Item {
  background-color: gray;
  width: 100%;
  margin: 8px;
  border-radius: 8px;
  height: 150px;
}

.Query-button {
  background-color: lightgray;
  border-radius: 8px;
  padding: 8px;
  margin-top: 8px;
  font-size: 1.5em;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
